html
  head
    meta(property="og:title" content='Immi')
    meta(property="og:site_name" content='IMMI')
    meta(property="og:url" content='immi.io')
    meta(property="og:url" content='dasdas')
    meta(property="og:image" content=thumbnail)
    meta(property="og:image:type" content='image/jpeg')
    meta(property="og:image:width" content='1200')
    meta(property="og:image:height" content='675')
    meta(property="og:type" content='website')
    meta(property="og:locale" content='en_US')
  body
    block content
    // Begin page content
    main.container(role='main')
      p.lead VideoId: #{id}
      p.lead VideoUID: #{uid}